

  @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');


  /* home page */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
    
}
body{
    background-color: #bdcad9;
background-image: linear-gradient(315deg, #bdcad9 0%, #e1dada 74%);


}

h1{
    font-size: 50px;
    line-height: 64px;
    color: black;
}

h2{
    padding-top: 40px;
    font-size: 46px;
    line-height: 54px;
    color: black;
}

h4{
    font-size: 20px;
    color: black;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
body{
    width: 100%;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: white;
    background-color: rgb(245, 193, 88);;
    border: 1px solid white;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #d09eb4;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}
#header a{
    text-decoration: none;
}

#header a span{
    font-family:Sevillana;
    color: #cf4c85;
    font-size: 40px;
    font-weight: 700;
    
}


#navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
}
#navbar li a:hover, #navbar li a.active{
    color: #136bef;

}

#navbar li a.active::after, #navbar li a:hover::after{
    content: '';
    width: 30%;
    height: 2px;
    background-color: #136bef;
    position:absolute;
    bottom: -4px;
    left: 20px;
}
#close{
    display: none;
}
#mobile{
    display: none;
    align-items: center;
}

#hero{
    background-image: url(images/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
 #hero h4{
    padding-bottom:15px ;
 }
 #hero h1{
    color: #136bef;
 }

 #hero button{
    background-color: wheat;
    color: #136bef;
    border: 1px;
    border-style: ridge;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    transition: all 0.5s ease;
 }
 #hero button:hover{
    transform: scale(1.1);
 }

 #feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color:lightblue;
 }

 #feature .fe-box{
    width: 180px;
    height: 220px;
    text-align: center;
    padding: 25px 25px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.06);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    transition: all 0.5s ease;
    background-color: rgb(137, 199, 220);
 }

 #feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
    transform: scale(1.1);
 }
 #feature .fe-box img{
    width: 100%;
    height: 80%;
    margin-bottom: 10px;
 }

 #feature .fe-box h6{
    display: inline-block;
    font-size: 15px;
    padding: 9px 12px 6px 12px;
    line-height: 1;
    border-radius: 4px;
    color: #136bef;
    background-color: #fddde4;
 }
 #feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
 }
 #feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
 }
 #feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
 }
 #feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
 }
 #feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
 }


#product-intro{
    text-align: center;
    background-color:lemonchiffon;
}
#product-intro .cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
    margin: 40px 0;
}
#product-intro .card{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
    margin: 15px 0;
    height: 350px; 
    position: relative;
    cursor: pointer;
    margin: 15px 0;
    border-radius: 20px;
}
#product-intro .card .card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    transition: 2s;
    border-radius: 20px;
}
.card:hover .card-img{
    scale: 1.1;
}
.card-content{
    display: none;
    position: absolute;
    color: white;
    bottom: 0;
    padding: 1rem;
    backdrop-filter: blur(5px);
    transition: 1s ease;
}
.card-content h2{
    font-size: 1.9rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 0.5rem;
}
.card-content p{
    font-weight: 400;
    font-size: 0.9rem;
    color: #ddd;
    margin-top: 7px;
}
.card-content p span{
    color: orange;
    font-weight: 600;
    font-size: 1.2rem;
}
.card-content button:hover{
    background: #d09eb4;
    color: white;
    transform: scale(1.05);

}
.card-content .card-star{
    color: rgb(243,181,25);
    font-size: 1.15rem;
}
.card:hover .card-content{
    display: block;
    
}

 #product1{
    text-align: center;
 }

 #product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
    
 }

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
    transition: all 0.2s ease;  
    
}
#product1 .pro:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#product1 .pro img{
    width: 100%;
    height: 50vh;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align:start;
    padding: 10px 0;
}
#product1 .pro .des span{
    color: #606060;
    font-size: 12px;
}
#product1 .pro .des h5{
    padding-top: 7px;
    columns: #1a1a1a;
    font-size: 14px;
}
#product1 .pro .des .star{
    font-size: 12px;
    color: rgb(243,181,25);
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color:#d09eb4;
}
#product1 .pro .cart{
    padding: 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #d09eb4;
    border: 1px solid #cce7d0;
    bottom: 20px;
    right: 10px;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('images/asset13.avif');
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
}
#banner h4{
    color: rgba(13, 11, 11, 0.688);
    font-size: 16px;
}
#banner h2{
    color: black;
    font-size: 30px;
    padding: 10px 0;
}
#banner h2 span{
    color: red;
}
#banner button:hover{
    background: #d09eb4;
    color: white;
    transform: scale(1.1);
}

#newarr{
    text-align: center;
    background-color: #ffffff;
background-image: linear-gradient(315deg, #ffffff 0%, #5899e2 74%);
}
#newarr .newarr-container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
}
#newarr .newarr-card{
    position: relative;
    max-width: 300px;
    height: 215px;
    background-color: lemonchiffon;

    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 200px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
}
#newarr .newarr-card:hover{
    height: 420px;
}
#newarr .img-box{
    position: relative;
    width: 260px;
    height: 300px;
    top: -60px;
    left: auto;
    z-index: 1;
    /* box-shadow: 0 5px 20px rgba(0,0,0,0.2); */
}
#newarr .img-box img{
    width: 200px;
    height: 230px;
    border-radius: 4px;
}
#newarr .newarr-card .newarr-content{
    position: relative;
   margin-top: -140px;
   padding: 10px 15px;
   text-align: center;
   color: #000;
   visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
#newarr .newarr-content span{
    font-size: 20px;
    padding: 8px 0;
    margin-bottom: 5px;
    font-weight: 800;
}
#newarr .newarr-content h4{
    font-size: 16px;
    font-weight: 600;
    padding-top: 5px;
}
#newarr .newarr-content h5{
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
}
#newarr .newarr-card .newarr-content .star{
    font-size: 14px;
    color: rgb(243,181,25);
    
}
#newarr .newarr-card button{
    background-color: #d09eb4;
    color: white;
    padding: 5px 15px;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.5s ease;
    margin: 6px;
    visibility: hidden;
    
}
#newarr .newarr-card:hover .newarr-content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
#newarr .newarr-card:hover button{
    background-color: #d09eb4;
    color: white;
    visibility: visible;
}
#newarr .newarr-card:hover button span{
    font-size: 18px;
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-image: url(images/asset1.avif);
    background-size: contain;
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#sm-banner .banner-box2{
    background-image: url(images/asset2.webp);
}

#sm-banner h4{
    color: white;
    font-size: 20px;
    font-weight: 300;
}
#sm-banner h2{
    color: white;
    font-size: 28px;
    font-weight: 800;
}
#sm-banner span{
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
#sm-banner .banner-box:hover button{
    background: #d09eb4;
    border: 1px solid #d09eb4;
    transform: scale(1.1);
}

#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        background-image: url(images/asset6.jpg);
        min-width: 30%;
        height: 30vh;
        background-size: cover;
        background-position: center;
        padding: 20px;
        margin-bottom: 20px;
        transition: all 0.5s ease;
}

#banner3 .banner-box2{
    background-image: url(images/asset3.jpg);
}
#banner3 .banner-box3 {
    background-image: url(images/asset5.jpg);
}

#banner3 h2{
    color: white;
    background-color: rgb(245, 193, 88);
    font-weight: 900;
    font-size: 22px;
}
#banner3 h3{
    color: purple;
    font-weight: 800;
    font-size: 15px;
}
#banner3 .banner-box:hover{
    transform: scale(1.1);
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: blue;
    
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}
#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: white;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}
#newsletter p span{
    color: #ffbd27;
}

#newsletter .form{
    display: flex;
    width: 40%;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button{
    background-color: #d09eb4;
    color: white;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; 
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo span{
    font-family:Sevillana;
    color: #cf4c85;
    font-size: 40px;
    font-weight: 700;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}
footer .install .row img{
    margin: 10px 0 15px 0;
    width: 45%;
    height: 5vh;
}
footer .follow i:hover, footer a:hover{
    color: #d09eb4;
}
footer .copywright{
    width: 100%;
    text-align: center;
}






/* shop page */


#page-header{
    background-image: url(images/bg1.avif);
    background-size: cover;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 14px;
}
#page-header h2, #page-header p{
    color: white;
}

#pagination{
    text-align: center;
}

#pagination a{
    text-decoration: none;
    background-color: #d09eb4;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}
#pagination a i {
    font-size: 16px;
    font-weight: 600;
}






/* sproduct(single product details) page */


.details{
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
#prodetails .single-pro-image{

    width: 40%;
    margin-right: 50px;
    
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
.small-img-col img{
    height: 100px;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
    margin-top: 20px;
}
#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2{
  font-size: 26px;
}
#prodetails .single-pro-details select{
  display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    margin-right: 10px;
    font-size: 16px;
}
#prodetails .single-pro-details input:focus{
    outline: none;
}
#prodetails .single-pro-details button{
    background-color: #d09eb4;
}
#prodetails .single-pro-details span{
    line-height: 25px;
}






/* blog page */



#page-header.blog-header{
    background-image: url(images/bg2.avif);
}
#blog{
    padding: 150px 150px 0 150px;

}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom:90px;
}
#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}
#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#blog .blog-details{
    width: 50%;
}
#blog .blog-details a{
    text-decoration: none;
    font-size: 11px;
    color: black;
    font-weight: 700;
    position: relative;
    transition: all;
}
#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 4px;
    right: -60px;
}
#blog .blog-details a:hover{
    color: #d09eb4;
}
#blog .blog-details a:hover::after{
    background-color: #d09eb4;
}

#blog .blog-box h1{
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -9;
}






/* about page */

#page-header .about-header{
    background-image: url(images/bg1.avif);
}
#about-head{
    display: flex;
    align-items: center;
}
#about-head img{
    width: 50%;
    height: auto;
}
#about-head div{
    padding-left: 40px;
}
#about-app{
    text-align: center;
}
#about-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}
#about-app .video video{
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 20px;
}






 /* contact page */

 #contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .details{
    width: 40%;
}
#contact-details .details span, #form-details form span{
    font-size: 12px;
}
#contact-details .details h2,#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}
#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}
#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
    color: #d09eb4;
}
#contact-details .details li p{
    font-size: 14px;
    margin: 0;
}
#contact-details .map{
    width: 55%;
    height: 400px;
    box-shadow:15px 15px 30px rgba(0, 0, 0, 0.6); 
}
#contact-details .map iframe{
    width: 100%;
    height: 100%;
}
#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}
#form-details form{
    
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
#form-details form input,#form-details form textarea{
    width: 100%;
    margin-bottom:20px;
    padding: 12px 15px;
    border: 3px ridge #e1e1e1;
    outline: none;
}
#form-details form button{
    background-color: #d09eb4;
    color: white;
}
#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}
#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
    border: 2px solid black;
}
#form-details .people div p{
    font-size: 13px;
    margin: 0;
    line-height: 25px;
}
#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}







/* cart page */

#cart{
    overflow-x: auto;
}
#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
#cart table img{
    width: 70px;

}
#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#cart table td:nth-child(4),#cart table td:nth-child(5),#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#cart table thead{
    border: 1px solid#e2e9e1;
    border-left: none;
    border-right: none;
}
#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}
#cart table tbody tr td{
    padding-top: 15px;

}
#cart table tbody td{
    font-size: 13px;

}
#cart-add{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#coupon{
    width: 50%;
    margin-bottom: 30px;
}
#coupon h3, subtotal h3{
    padding-bottom: 15px;
}
#coupon input{
    width: 60%;
    padding: 10px 20px;
    border: 1px solid #e2e9e1;
    outline: none;
    margin-right: 10px;
}
#coupon button, #subtotal button{
    background-color: #d09eb4;
    color: white;
    padding: 12px 20px;
}
#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}
#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}







/* media query for responsiveness */

@media (max-width:799px){

    .section-p1{
        padding: 40px 40px;
    }
    #navbar ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right:-300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 1s;
    }
    #navbar .active{
        right: 0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 30px;
        padding-left: 20px;
        cursor: pointer;
    }
    #close{
        display: initial;
        position: absolute;
        top: 20px;
        right: 20px;
        color: #1a1a1a;
        font-size: 30px;
        cursor: pointer;
    }
    #lg-bag{
        display: none;
    }
    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #feature {
        justify-content: center;
        
    }
    #feature .fe-box {
        margin: 15px 15px;
    }
    #product1 .pro-container {
        justify-content: center;
    }
    #product1 .pro {        
        margin: 15px 15px;
    }
    #product1 .pro img {
        height: 40vh;

    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
       
    }

    #banner3 {
        padding: 0 40px;
    }

    #banner3 .banner-box {
        width: 28%;
    }
    #banner3 h2 {
        color: white;
        background-color: rgb(245, 193, 88);
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        padding: 5px 10px;
    }

    #newsletter .form{
        width: 70%;
    }


    /* contact page */

    #form-details{
        padding: 40px;
    }
    #form-details form{
        width: 50%;
    }

}


@media (max-width: 477px){

    .section-p1{
        padding:20px;
    }

    h1{
        font-size: 38px;
        line-height: 40px;
    }
    h2{
        font-size: 32px;
        line-height: 30px;
    }

    #header{
        padding: 10px 30px;
    }
    #hero{
        padding: 0 20px;
        background-position: 55%;
    }
    #feature{
        justify-content: space-between;
    }

    #feature .fe-box{
        width: 135px;
        margin: 0 0 15px 0;
    }
    #feature .fe-box img{
        height: 60%;
    }
    #feature .fe-box h6{
        font-size: 13px;
        padding: 5px 10px 5px 10px;
    }

    #product1 .pro{
        width: 80%;
    }
    #product1 .pro img{
        height: 50vh;
    }

    #banner{
        height: 40vh;
    }

    #sm-banner .banner-box{
        min-width: 100%;
        height: 40vh;
    }
    #sm-banner .banner-box2 {
        margin-top: 20px;
    }
    #sm-banner h4{
        font-size: 16px;
    }
    #banner3{
        padding: 0 20px;
    }
    #banner3 .banner-box{
        width: 100%;
        height: 30vh;
    }

    #newsletter{
        padding: 40px 20px;
    }
    #newsletter .form{
        width: 90%;
    }



    /* blog page */

    #blog{
        padding: 100px 20px 0 20px;
    }
    #blog .blog-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
    }
    #blog .blog-img{
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    #blog .blog-details{
        width: 100%;
    }


    /* about page */

    #about-head{
        flex-direction: column;
    }
    #about-head img{
        width: 100%;
        margin-bottom: 20px;
    }
    #about-head div{
        padding-left: 0;
    }
    #about-app .video{
        width: 100%;
        
    }


   
    /* contact page */

    #contact-details{
        flex-direction: column;
    }
    #contact-details .details{
        width: 100%;
        margin-bottom: 30px;
    }
    #contact-details .map{
        width: 100%;
    }
    #form-details{
        margin: 10px;
        padding: 30px;
        flex-wrap: wrap;
    }
    #form-details form{
        width: 100%;
        margin-bottom: 30px;
    }


    /* cart page */

    #cart-add{
        flex-direction: column;
    }
    #coupon{
        width: 100%;
    }
    #subtotal{
        width: 100%;
        padding: 20px;
    }

}

